.pieChartComponent {
  background-color: #fbfbfb;
  border-radius: 15px;
  overflow: hidden;
  width: 20vw !important;
  height: 20vw !important;
  max-width: 330px;
  max-height: 330px;
  margin:0 10px;
}

.legend {
  position: absolute;
  font-weight: bold;
  font-size: 1.2vh;
  margin-top: 10%;
  margin-left: 10%;
}

.labelScore {
  font-size: 3.5vh;
  font-weight: bold;
}

.scoringText{
  outline: none;
}

.bar{
  outline:none;
}

.labelText {
  font-size: 1.5vh;
  font-weight: 600;
  fill: darkgrey;
}
