.linechartComponent {
  display: flex;
  background-color: red;
  border-radius: 15px;
  overflow: hidden;
  width: 20vw !important;
  height: 20vw !important;
  max-width: 300px;
  max-height: 300px;
}

.tooltip {
  display: flex;
  background-color: #ffffff;
}

.label {
  display: flex;
  background-color: #ffffff;
  color: black;
  font-size: 80%;
  padding: 0.75rem 1rem;
}

.legendItem {
  display: flex;
  color: black;
  opacity: 0.3;
  font-size: 1.6vh;
  font-weight: 600;
  position: relative;
  top: 30px;
  left: 20px;
  width: 45%;
  border: none;
  border-radius: 15px;
  margin: 0.5rem;
}
