.linechartComponent {
  display: flex;
  background-color: red;
  border-radius: 15px;
  overflow: hidden;
  width: 20vw !important;
  height: 20vw !important;
  max-width: 350px;
  max-height: 350px;
}

.tooltip {
  display: flex;
  background-color: #ffffff;
}

.label {
  display: flex;
  background-color: #ffffff;
  color: black;
  font-size: 1.2vh;
  padding: 0.75rem 1rem;
}

.legendItem {
  display: flex;
  color: white;
  opacity: 0.3;
  font-size: 1.2vh;
  font-weight: 550;
  position: relative;
  top: 30px;
  left: 20px;
  width: 45%;
  border: none;
  border-radius: 15px;
  margin: 0.5rem;
}
