.radarContainer{
  display:flex;
background-color: #000;
border-radius:15px;

width:20vw !important;
height:20vw !important;
max-width:300px;
max-height:300px;
justify-content:center;
  align-items:center;
  padding:10px;
  margin:0px;
  
}

.radarChart{
    display:flex;
    
    font-size: 1.2vh;
    justify-content:center;
  align-items:center;
  margin:5%;
  max-width:98%;
  max-height:98%;
}


.axis{
  display:flex;
  
  
}