.radarContainer{
  display:flex;
background-color: #000;
border-radius:15px;

width:20vw !important;
height:20vw !important;
max-width:300px;
max-height:300px;

}

.radarChart{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 20px
  
}