.radarContainer {
  display: flex;
  background-color: #000;
  border-radius: 15px;
  width: 25vh !important;
  height: 25vh !important;
  max-width: 350px;
  max-height: 350px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.radarChart {
  display: flex;
  font-size: 1.2vh;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  max-height: 95%;
}

.axis{
  display: flex;
  justify-content: center;
  align-items: center;
}

