.dashboardContainer {
  display: flex;
  flex-direction: column;
  max-height:100%;
  width: 100%;
  padding: 20px;
}




.viewStats{
  display:flex;
  height:90%;
  width:100%;
  padding:20px 20px 20px 0;
}

.graphsSection{
  display:flex;
  flex-direction:column;
  max-height:100%;
  width:80%;
  justify-content:center;
  align-items:center;
}

.keyDatasContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  background:red;
  max-height:100%;
  width:20%;
}

.graphSectionDown{
  display:flex;
  justify-content:space-between;
  height:50%;
  width:100%
}

