.radialChartContainer{
  display: flex;
  width:20vw !important;
  height:20vw !important;
  justify-content: center;
  align-items: center;

}

.radialChart{
  width:20vw !important;
  height:20vw !important;
  justify-content: center;
  align-items: center;
}

.radialBar{
  display:flex;
  width:100%;
  height:100%;
}