.radialChartContainer{
  display: flex;
  width:20vw !important;
  height:20vw !important;
  justify-content: center;
  align-items: center;
  z-index:1;
  border-radius:15px;
background-color:#FBFBFB;
max-width:300px;
max-height:300px;
}

.radialChart{
  
  justify-content: center;
  align-items: center;
}

.radialBar{
  display:flex;
  width:100%;
  height:100%;
  background-color:'red';

}

.radialBarTextContainer{
  display:flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  colr:black;
  z-index:100;
}

.scoring{
  display:flex;
  z-index:100;
}